DATABASE_URL=postgresql://usuario:password@host:5432/database
PORT=3000
JWT_SECRET=tu_clave_secreta
GOOGLE_CLIENT_ID=tu_google_client_id
TRANSACTION_EMAIL_URL=https://tu-proyecto.vercel.app/api/send-transaction-email